# Build directories
/target/
/bin/
# ======================
# Maven
# ======================
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ======================
# Eclipse
# ======================
.classpath
.project
.settings/
.loadpath

# ======================
# GWT
# ======================
*.cache.*
*.gwt.rpc
#*.gwt.xml
#*.gwt.*
*.swp
# directorios generados por GWT compile o devmode
war/
WEB-INF/classes/
*.gwt.rpc

# ======================
# Logs
# ======================
*.log

# ======================
# OS específicos
# ======================
.DS_Store
Thumbs.db

# ======================
# Maven local repository
# ======================
# NO versionar tu repositorio local
/.m2/
